/* ********* */
/* @GRID*/
/* ********* */

// Grid contenedor
.contenedor{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:  3fr auto auto;
    row-gap: 40px;
    column-gap: 20px;
}
